{% extends "layout.html" %}
{% block content %}
    {% for c_post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" href="#">{{ c_post.title }}</a></h2>
            </div>
              <a class="mr-2" style="color: blue">{{ c_post.worker.username }}</a>
              <small class="text-muted">{{ c_post.date_posted }}</small>
            <p class="article-content" style="font-size:large"><br>{{ c_post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}